html, body {
	/*margin: 0;*/
}

body {
	background-image: url("./img/background.jpg");
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
	color: #595959;
}

.clearfix {
	clear: both;
}

.btn {
	display: block;
	text-decoration: none;
	border-radius: 10px;
}

.bth:visited {
	color: #595959;
}

.left {
	float: left;
}

.right {
	float: right;
}

.b-font {
	font-weight: bold;
}

.content-center {
	width: 70%;
	margin: 0 auto;
}

.full-width {
	width: 100%;
}

.header {
	padding: 50px 20px 20px 20px;
	margin-bottom: 10px;
}

.logo-wrap span {
	padding: 20px 10px;
}

.logo {
	padding: 10px;
	color: white;
	font-size: 30px;
	font-style: italic;
	background-color: #ff0080;
}

.nav-menu {
	padding: 0;
	margin: 0;
}

.nav-menu li {
	float: left;
	list-style: none;
}

.nav-menu .btn {
	padding: 20px 10px;
}

.nav-menu .btn:hover {
	color: white;
	background-color: #595959;
}

.banner {
	background-color: white;
	padding: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.banner div:first-child {
	width: 45%;
}

.banner h1 {
	margin: 0;
}

.banner .btn {
	background-color: #e6e6e6;
	font-weight: 900;
	font-size: 20px;
	padding: 15px;
}

.banner .btn:first-child {
	margin-bottom: 10px;
}

.banner .btn:hover {
	background-color: #0066ff;
	color: #e6e6e6;
}

.banner-description {
	font-size: 25px;
}

.ico-inf {
	display: inline-block;
	text-align: center;
	width: 22px;
	height: 22px;
	padding: 1px;
	font-size: 20px;
	margin-left: 40px;
	border-radius: 50%;
	color: #e6e6e6;
	background-color: #595959;
}

